@model GamersHaven.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
       
        @if (HttpContext.Current.User.IsInRole("Admin"))
        {
            <dt>Reports:</dt>
            <dd>
                [@Html.ActionLink("Article Reports", "Reports", "Admin", new { type = ReportType.Type.Article }, new { @class = "" })]
                &nbsp
                [@Html.ActionLink("Comment Reports", "Reports", "Admin", new { type = ReportType.Type.Comment }, new { @class = "" })]
            </dd>
        }
    </dl>
</div>
